Importing libraries and functions

In [23]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn.linear_model import LogisticRegression

Importing dataset

In [24]:
dataset=pd.read_excel('a_Dataset_CreditScoring.xlsx')

Data preparation

In [25]:
#shows count of rows and columns
dataset.shape

(3000, 30)

In [26]:
#shows first few rows of the dataset
dataset.head()

,TARGET,ID,DerogCnt,CollectCnt,BanruptcyInd,InqCnt06,InqTimeLast,InqFinanceCnt24,TLTimeFirst,TLTimeLast,...,TL50UtilCnt,TLBalHCPct,TLSatPct,TLDel3060Cnt24,TLDel90Cnt24,TLDel60CntAll,TLOpenPct,TLBadDerogCnt,TLDel60Cnt24,TLOpen24Pct
0,1,582,3,3,0,4,0.0,5,117,27,...,3.0,0.9179,0.2083,2,3,7,0.2083,4,4,0.0000
1,1,662,15,9,0,3,1.0,3,14,14,...,1.0,0.8000,0.0000,0,0,0,1.0000,12,0,1.0000
2,1,805,0,0,0,1,5.0,1,354,7,...,5.0,0.3552,0.6538,0,1,1,0.7308,1,1,0.5263
3,1,1175,8,5,0,6,1.0,10,16,4,...,3.0,0.9127,0.2500,1,1,1,0.7500,7,1,1.3333
4,1,1373,3,1,0,9,0.0,8,130,52,...,1.0,1.2511,0.0000,0,1,4,0.1429,3,1,0.0000

In [27]:
#Dropping customer ID column from the dataset
dataset=dataset.drop('ID',axis=1)
dataset.shape

(3000, 29)

In [28]:
#explore missing values
dataset.isna().sum()

TARGET               0
DerogCnt             0
CollectCnt           0
BanruptcyInd         0
InqCnt06             0
InqTimeLast        188
InqFinanceCnt24      0
TLTimeFirst          0
TLTimeLast           0
TLCnt03              0
TLCnt12              0
TLCnt24              0
TLCnt                3
TLSum               40
TLMaxSum            40
TLSatCnt             4
TLDel60Cnt           0
TLBadCnt24           0
TL75UtilCnt         99
TL50UtilCnt         99
TLBalHCPct          41
TLSatPct             4
TLDel3060Cnt24       0
TLDel90Cnt24         0
TLDel60CntAll        0
TLOpenPct            3
TLBadDerogCnt        0
TLDel60Cnt24         0
TLOpen24Pct          3
dtype: int64

In [29]:
#filling missing values
dataset=dataset.fillna(dataset.mean())

In [30]:
#explore missing values post missing value fix
dataset.isna().sum()

TARGET             0
DerogCnt           0
CollectCnt         0
BanruptcyInd       0
InqCnt06           0
InqTimeLast        0
InqFinanceCnt24    0
TLTimeFirst        0
TLTimeLast         0
TLCnt03            0
TLCnt12            0
TLCnt24            0
TLCnt              0
TLSum              0
TLMaxSum           0
TLSatCnt           0
TLDel60Cnt         0
TLBadCnt24         0
TL75UtilCnt        0
TL50UtilCnt        0
TLBalHCPct         0
TLSatPct           0
TLDel3060Cnt24     0
TLDel90Cnt24       0
TLDel60CntAll      0
TLOpenPct          0
TLBadDerogCnt      0
TLDel60Cnt24       0
TLOpen24Pct        0
dtype: int64

In [31]:
#count of good loans (0) and bad loans(1)
dataset['TARGET'].value_counts()

TARGET
0    2500
1     500
Name: count, dtype: int64

In [32]:
#data summary across 0 & 1
dataset.groupby('TARGET').mean()

,DerogCnt,CollectCnt,BanruptcyInd,InqCnt06,InqTimeLast,InqFinanceCnt24,TLTimeFirst,TLTimeLast,TLCnt03,TLCnt12,...,TL50UtilCnt,TLBalHCPct,TLSatPct,TLDel3060Cnt24,TLDel90Cnt24,TLDel60CntAll,TLOpenPct,TLBadDerogCnt,TLDel60Cnt24,TLOpen24Pct
TARGET,,,,,,,,,,,,,,,,,,,,,
0,1.3224,0.7664,0.1492,2.9424,3.174638,3.2896,173.002,11.650,0.2844,1.832,...,3.986711,0.628177,0.544963,0.6044,0.6624,2.2236,0.502376,1.180,0.8648,0.556867
1,1.9680,1.3100,0.1740,3.9380,2.775459,4.8820,155.672,12.992,0.2280,1.768,...,4.533870,0.748185,0.385173,1.3340,1.5760,4.0140,0.465127,2.554,2.0860,0.600978

Train Test Split

In [33]:
y = dataset.iloc[:,0].values
x = dataset.iloc[:, 1:28].values

In [34]:
#splitting dataset into training and test (in ratio 80:20)
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [35]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

Risk Model building

In [36]:
classifier = LogisticRegression()
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)

Model performance

In [37]:
print(confusion_matrix(y_test,y_pred))

[[482  16]
 [ 87  15]]

In [38]:
print(accuracy_score(y_test,y_pred))

0.8283333333333334

Writing output file

In [39]:
predictions = classifier.predict_proba(x_test)
predictions

array([[0.04200938, 0.95799062],
       [0.93712307, 0.06287693],
       [0.70429866, 0.29570134],
       ...,
       [0.97248551, 0.02751449],
       [0.44309325, 0.55690675],
       [0.8677644 , 0.1322356 ]])

In [40]:
#writing model output file
df_prediction_prob = pd.DataFrame(predictions,columns=['Prob_0','Prob_1'])
df_prediction_target = pd.DataFrame(classifier.predict(x_test),columns=['Predicted_TARGET'])
df_test_dataset = pd.DataFrame(y_test,columns=['Actual Outcome'])

dfx = pd.concat([df_test_dataset,df_prediction_prob,df_prediction_target],axis=1)
dfx.to_excel('D:/Python/CodeAlpha/c1_Model_Prediction.xlsx')

In [41]:
dfx.head()

   Actual Outcome    Prob_0    Prob_1  Predicted_TARGET
0               1  0.042009  0.957991                 1
1               0  0.937123  0.062877                 0
2               0  0.704299  0.295701                 0
3               0  0.907845  0.092155                 0
4               0  0.866252  0.133748                 0